.App {
  background-color: #1C1C1C;
  margin: 0;
}
.inner{
  display: table;
  margin: 0 auto;
  background-color: #23252C;
  padding-left: 116px;
  padding-right: 116px;
  padding-top: 40px;
  padding-bottom: 40px;
  
  
}
.profile--cover{
width: 317px;
height: 330px;
border-radius: 10px 10px 0px 0px;
}
.App-header{
  align-items: center;
}
.rec{
  background-color: #1A1B21;
  width: 317px;
  height: 399px;
 
}
.Name{
  padding-top: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  color: #FFFF;  
}
.Designation{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 15px;
  text-align: center;
  
  color: #F3BF99;
}
.Link--website{

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;

  margin-top: 10px;
  /* identical to box height, or 15px */
  
  text-align: center;
  
  color: #F5F5F5;
}
.Buttons--contact{
  margin:0;

  align-items: center;
  margin-top: 14px;
  margin-left : 40px;
 
}
.Buttons--contact > button{
  width: 115px;
  height:  34px;
  font-size: 13px;
  border-radius: 6px;

}
.Buttons--contact > button:first-child{
  
  background-color: white;
  margin-right: 10px;
  color:black;
  
}
.Buttons--contact > button:nth-child(2){
  background-color: #5093E2;
  color:white;

}

.Heading, .interest--heading{
  font-style: normal;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color:#F5F5F5;
}
.About--info, .interest--info{
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px; 
  color: #DCDCDC;
  justify-content: center;
  max-inline-size: 250px;
  
 
}
.container{
  background-color: #161619;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 317px;
  height: 64px;
  border-radius: 0px 0px 10px 10px;
}
.icons{
  margin: auto;
  color:#918E9B;
}
.icons > .container > button {
  margin-right: 10px;
}



.About{
 margin-left:30px;
 margin-bottom: 20px;
}
.About{
  margin-top: 30px;
}
.interest{
  margin-left:30px;
}
